{% extends "home/master.html" %}

{% block homelink %}
  <a class="nav-link" href="../konnect/?id={{id}}">Home</a>                
{% endblock %}

{% block profilelink %}
  <a class="nav-link" href="../user-profile/?id={{id}}">My Profile</a>
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Profile</h1>
    <table class="table">
      <tbody>
        {% for key, value in user.items %}
          <tr>
            <th>{{ key }}</th>
            <td>{{ value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h1 class="mt-4">Posts</h1>
    <ul class="list-group">
      {% for key, value in posts.items %}
        <li class="list-group-item">{{ value }}</li>
      {% endfor %}
    </ul>

    <h1 class="mt-4">Skills</h1>
    <p>
      {% for key, value in skills.items %}
      <span class="badge bg-secondary">{{ value }}</span>
      {% endfor %}
    </p>

    <h1 class="mt-4">Links</h1>
    <table class="table">
      <tbody>
        {% for key, value in links.items %}
          <tr>
            <th>{{ key }}</th>
            <td>{{ value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="{{ detail_url }}">
      <button type="button" class="btn btn-primary mt-4">
        Add Details
      </button>
    </a>
  </div>
{% endblock %}
